@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
/* Nab Bar */
nav {
  display: flex;
  justify-content: space-between;
  padding: 2.5rem 3rem;
}

.nav-items {
  display: flex;
  list-style: none;
  align-items: center;
  padding-right: 1rem;
}
li {
  padding-left: 3rem;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
.top-logo img {
  width: 9.325rem;
}

/*description*/
.description {
  display: flex;
  justify-content: space-around;
  padding-top: 2rem;
  padding-right: 4.25rem;
  padding-bottom: 10rem;
}
.illustration-1 img {
  width: 40.625rem;
}
.description-left {
  padding: 3rem;
  padding-top: 5rem;
  padding-right: 3.625rem;
}
h1 {
  font-size: 2.8125rem;
  font-family: 'Raleway';
  font-weight: 700;
  padding-bottom: 1.375rem;
  color: hsl(243, 87%, 12%);
}
.description-pera {
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  word-spacing: 0.1875rem;
  padding-bottom: 1rem;
  color: hsl(238, 22%, 44%);
  font-weight: bold;
}
.send-mail {
  display: flex;
  justify-content: space-between;
  padding-right: 4.5rem;
  padding-top: 1.25rem;
}
input {
  width: 55%;
  padding: 1rem;
  border: 0.0625rem solid #ccc;
  border-radius: 4px;
}
.btn-1 {
  width: 40%;
  background-color: hsl(224, 93%, 58%);
  border: none;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.btn-1:active {
  background-color: hsla(224, 93%, 58%, 0.582);
}

/*Second Part*/
.second-part {
  background-image: url('./images/bg-curve-desktop.svg');
  height: auto;
  padding: 3rem;
  padding-top: 8rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  padding-bottom: 5.625rem;
}
.second-h1 {
  color: hsl(243, 87%, 12%);
}
.illustration-2 img {
  width: 35.25rem;
  padding-top: 1.5625rem;
  padding-right: 50px;
}

.second-pera {
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  padding-bottom: 1rem;
  padding-right: 18.5rem;
  color: hsl(238, 22%, 44%);
}
.anchor-tag {
  align-items: center;
}
a {
  text-decoration: none;
  color: #3da08f;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #3da08f;
  margin-right: 43.2859rem;
  cursor: pointer;
}
a:active {
  color: #3da08fa1;
  border-bottom: 0.0625rem solid #3da08fa1;
}
a img:active {
  opacity: 0.5;
}

#see img {
  padding-top: 5px;
  padding-left: 5px;
}
.card {
  background-color: white;
  padding: 1.25rem 1.5625rem;
  border-radius: 0.25rem;
  margin-top: 1.25rem;
  width: 21.875rem;
  height: 12.5rem;
  box-shadow: 0.625rem 0.3125rem 0.3125rem rgba(0, 0, 0, 0.039),
    -0.25rem 0.3125rem 0.3125rem rgba(0, 0, 0, 0.148);
}
.card > img {
  margin-bottom: 5px;
  margin-top: 5px;
}
.cards-pera {
  font-size: 0.81rem;
  font-weight: bold;
  line-height: 1.2rem;
  color: hsl(238, 22%, 44%);
  padding-bottom: 5px;
  padding-top: 5px;
}

.img-section {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.avatar {
  width: 1.825rem;
  height: 1.825rem;
  border-radius: 50%;
  margin-right: 10px;
}

.name {
  font-size: 12px;
  color: hsl(243, 87%, 12%);
}
.founder {
  font-size: 9px;
  color: hsl(238, 22%, 44%);
}

.early-access {
  padding: 3rem;
  padding-top: 90px;
  background-color: hsl(240, 22%, 44%);
  color: white;
  display: flex;
  padding-bottom: 82px;
}
.sec-left > h2 {
  font-size: 32px;
  padding-bottom: 18px;
}
.sec-left > p {
  padding-right: 480px;
}
.sec-right {
  padding-right: 80 px;
}

#bo-in {
  width: 450px;
  height: 45px;
  margin-bottom: 16px;
}

#bo-btn {
  background-color: hsl(224, 93%, 58%);
  color: white;
  border: none;
  width: 180px;
  height: 48px;
  font-weight: bold;
  font-size: 13px;
}

footer {
  background-color: #070439;
  padding: 3rem;
  color: white;
}
.foot-logo > img {
  width: 150px;
}

.info {
  display: flex;
  color: white;
  justify-content: space-between;
}
.li {
  color: white;
  list-style: none;
  padding: 20px 10px 14px 10px;
}

a.social-img {
  text-decoration: none;
  border: none;
}
a.social-img img {
  width: 32px;
  margin-bottom: 20px;
}
.phone-logo {
  display: flex;
  padding: 20px 0;
}
.phone-logo img {
  margin-right: 13px;
}
.phone-logo img {
  width: 20px;
  height: 20px;
}

.mail-logo {
  display: flex;
}
.mail-logo img {
  margin-right: 13px;
}
.mail-logo img {
  width: 20px;
  height: 20px;
}

.social-logos {
  margin-top: 12px;
}
